#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-height: auto;
  
}
p {
  font-size: 1em;
  line-height: 1.6;
  color: #333;
}
h1, h2, h3 {
    font-size: 2em;
  color: #222;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


